<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="protobuf-net" version="2.0.0.621" targetFramework="net40" />
  <package id="TPG.GeoFramework.Style.Core.Contracts" version="1.1.0.603" targetFramework="net40" />
  <package id="TPG.GeoFramework.Symbols.Contracts" version="1.1.0.603" targetFramework="net40" />
  <package id="TPG.Maria.Common" version="1.1.0.0" targetFramework="net40" />
  <package id="TPG.Maria.GridLayer" version="1.1.0.603" targetFramework="net40" />
  <package id="TPG.Maria.MapLayer" version="1.1.0.602" targetFramework="net40" />
  <package id="TPG.Maria.MariaUserControl" version="1.1.0.602" targetFramework="net40" />
  <package id="TPG.Maria.TrackLayer" version="1.1.0.603" targetFramework="net40" />
</packages>